<html>
	<head>
		<meta charset='utf-8'>
		<title>Dojodachi</title>
	</head>
	<body>
		<p>Fullness: @ViewBag.Dojodachi["fullness"]</p>
		<p>Happiness: @ViewBag.Dojodachi["happiness"]</p>
		<p>Meals: @ViewBag.Dojodachi["meals"]</p>
		<p>Energy: @ViewBag.Dojodachi["energy"]</p>
		<p>@ViewBag.Message</p>
		<a href="/feed">Feed</a>
		<a href="/play">Play</a>
		<a href="/work">Work</a>
		<a href="/sleep">Sleep</a>
	</body>
</html>