@{
    ViewData["Title"] = @ViewData["name"];
}
<h1>@ViewData["name"]</h1>
<img src=@ViewData["img_url"] alt=@ViewData["name"] />
<p>Type: @ViewData["type"]</p>
<p>Height: @ViewData["height"]</p>
<p>Weight: @ViewData["weight"]</p>